<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Laboratorios Univalle</title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/lib/nice-admin/assets/images/favicon.png">
    
    <!-- Custom CSS -->
    <link href="/lib/nice-admin/dist/css/style.min.css" rel="stylesheet">
    
    <!-- App Custom CSS -->
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/Proyecto Laboratorios Univalle.styles.css" asp-append-version="true" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin1" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        
        <!-- Topbar header - style you can find in pages.scss -->
        <partial name="_TopBar" />
        
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <partial name="_Sidebar" />
        
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb and right sidebar toggle -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">@ViewData["Title"]</h4>
                    </div>
                </div>
            </div>
            
            <!-- Container fluid  -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            
            <!-- footer -->
            <footer class="footer text-center">
                &copy; @DateTime.Now.Year - Proyecto Laboratorios Univalle
            </footer>
        </div>
    </div>
    
    <!-- All Jquery -->
    <script src="/lib/nice-admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/lib/nice-admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/lib/nice-admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- apps -->
    <script src="/lib/nice-admin/dist/js/app.min.js"></script>
    <script src="/lib/nice-admin/dist/js/app.init.js"></script>
    <script src="/lib/nice-admin/dist/js/app-style-switcher.js"></script>
    
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/lib/nice-admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/lib/nice-admin/assets/libs/sparkline/sparkline.js"></script>
    
    <!--Wave Effects -->
    <script src="/lib/nice-admin/dist/js/waves.js"></script>
    
    <!--Menu sidebar -->
    <script src="/lib/nice-admin/dist/js/sidebarmenu.js"></script>
    
    <!--Custom JavaScript -->
    <script src="/lib/nice-admin/dist/js/custom.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>