@using Proyecto_Laboratorios_Univalle.Models.Enums
<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">Navegación</span>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-page="/Index" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Inicio</span>
                    </a>
                </li>

                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">Elementos</span>
                </li>

                @* Pendiente poner en equipos tipos de equipo *@
                @* <li class="sidebar-item">
                    <a asp-page="/EquipmentTypes/Index" class="sidebar-link">
                        <i class="mdi mdi-settings"></i>
                        <span class="hide-menu"> Tipos de Equipo </span>
                    </a>
                </li> *@

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-cube-outline"></i>
                        <span class="hide-menu">Activos </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">

                        <li class="sidebar-item">
                            <a asp-page="/Equipment/Index" class="sidebar-link">
                                <i class="mdi mdi-cube-outline"></i>
                                <span class="hide-menu">Equipo</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a asp-page="/Verifications/Index" class="sidebar-link">
                                <i class="mdi mdi-check-circle-outline"></i>
                                <span class="hide-menu"> Verificaciones (L6) </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">Contenido Técnico</span>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-wrench"></i>
                        <span class="hide-menu">Operaciones </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-page="/Requests/Index" class="sidebar-link">
                                <i class="mdi mdi-message-text-outline"></i>
                                <span class="hide-menu"> Solicitudes de Servicio (L-7) </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a asp-page="/Acquisitions/Index" class="sidebar-link">
                                <i class="mdi mdi-cart-outline"></i>
                                <span class="hide-menu"> Solicitudes de Adquisición </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a asp-page="/Maintenances/Index" class="sidebar-link">
                                <i class="mdi mdi-view-quilt"></i>
                                <span class="hide-menu"> Mantenimiento </span>
                            </a>
                        </li>
                      </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-book-open-variant"></i>
                        <span class="hide-menu">Catálogos </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-page="/Laboratories/Index" class="sidebar-link">
                                <i class="mdi mdi-home-modern"></i>
                                <span class="hide-menu"> Laboratorios </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-page="/Cities/Index" class="sidebar-link">
                                <i class="mdi mdi-earth"></i>
                                <span class="hide-menu">Regiones</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-small-cap">
                    <i class="mdi mdi-dots-horizontal"></i>
                    <span class="hide-menu">Personas</span>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-account-key"></i>
                        <span class="hide-menu">Usuarios </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-page="/Users/Index" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> Usuarios </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-page="/Persons/Index" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> Personas </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>