@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.25o87uqmvr.bundle.scp.css';

/* _content/Proyecto Laboratorios Univalle/Pages copy/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-imbj62x3m2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-imbj62x3m2] {
  color: #0077cc;
}

.btn-primary[b-imbj62x3m2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-imbj62x3m2], .nav-pills .show > .nav-link[b-imbj62x3m2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-imbj62x3m2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-imbj62x3m2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-imbj62x3m2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-imbj62x3m2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-imbj62x3m2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Proyecto Laboratorios Univalle/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7xxwnjvulw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7xxwnjvulw] {
  color: #0077cc;
}

.btn-primary[b-7xxwnjvulw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7xxwnjvulw], .nav-pills .show > .nav-link[b-7xxwnjvulw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7xxwnjvulw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7xxwnjvulw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7xxwnjvulw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7xxwnjvulw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7xxwnjvulw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
