@page
@model Proyecto_Laboratorios_Univalle.Pages.Equipment.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Equipo</h1>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.EquipmentTypeId" class="control-label">Tipo de Equipo</label>
                <select asp-for="Input.EquipmentTypeId" class ="form-control" asp-items="ViewBag.EquipmentTypeId" aria-required="true"></select>
                <span asp-validation-for="Input.EquipmentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.LaboratoryId" class="control-label">Laboratorio</label>
                <select asp-for="Input.LaboratoryId" class ="form-control" asp-items="ViewBag.LaboratoryId" aria-required="true"></select>
                <span asp-validation-for="Input.LaboratoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.CityId" class="control-label">Ciudad</label>
                <select asp-for="Input.CityId" class ="form-control" asp-items="ViewBag.CityId" aria-required="true"></select>
                <span asp-validation-for="Input.CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.CountryId" class="control-label">País</label>
                <select asp-for="Input.CountryId" class ="form-control" asp-items="ViewBag.CountryId" aria-required="true"></select>
                <span asp-validation-for="Input.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.Name" class="control-label">Nombre</label>
                <input asp-for="Input.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.InventoryNumber" class="control-label">No. Inventario</label>
                <input asp-for="Input.InventoryNumber" class="form-control" aria-required="true"/>
                <span asp-validation-for="Input.InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Brand" class="control-label">Marca</label>
                <input asp-for="Input.Brand" class="form-control" />
                <span asp-validation-for="Input.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Model" class="control-label">Modelo</label>
                <input asp-for="Input.Model" class="form-control" />
                <span asp-validation-for="Input.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SerialNumber" class="control-label">No. Serie</label>
                <input asp-for="Input.SerialNumber" class="form-control" />
                <span asp-validation-for="Input.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UsefulLifeYears" class="control-label">Vida Útil (Años)</label>
                <input asp-for="Input.UsefulLifeYears" class="form-control" />
                <span asp-validation-for="Input.UsefulLifeYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AcquisitionDate" class="control-label">Fecha Adquisición</label>
                <input asp-for="Input.AcquisitionDate" class="form-control" />
                <span asp-validation-for="Input.AcquisitionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AcquisitionValue" class="control-label">Valor Adquisición</label>
                <input asp-for="Input.AcquisitionValue" class="form-control" />
                <span asp-validation-for="Input.AcquisitionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Observations" class="control-label">Observaciones</label>
                <textarea asp-for="Input.Observations" class="form-control"></textarea>
                <span asp-validation-for="Input.Observations" class="text-danger"></span>
            </div>
         
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
