@page
@using Proyecto_Laboratorios_Univalle.Models.Enums
@model Proyecto_Laboratorios_Univalle.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Request</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.EquipmentId" class="control-label">Equipment</label>
                <select asp-for="Input.EquipmentId" class ="form-control" asp-items="ViewBag.EquipmentId"></select>
                <span asp-validation-for="Input.EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RequestedById" class="control-label">Requested By</label>
                <select asp-for="Input.RequestedById" class ="form-control" asp-items="ViewBag.RequestedById">
                    <option value="">-- Current User --</option>
                </select>
                 <span asp-validation-for="Input.RequestedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Input.Description" class="control-label">Description</label>
                <textarea asp-for="Input.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Priority" class="control-label">Priority</label>
                <select asp-for="Input.Priority" class="form-control" asp-items="Html.GetEnumSelectList<RequestPriority>()"></select>
                <span asp-validation-for="Input.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Observations" class="control-label">Observations</label>
                <textarea asp-for="Input.Observations" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Input.Observations" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
