@page
@model Proyecto_Laboratorios_Univalle.Pages.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>Log out</h1>
    <p>You have successfully logged out of the application.</p>
</header>
